article {
  clear: both;
  overflow: auto;
  margin: 50px;
  padding: 50px;
}

img {
  float: left;
  padding: 5px;
  margin: 20px;
  border: 1px solid #e6e6e6;
}

article h2 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}

article a {
  color: #c60f7b;
  text-decoration: none;
}

article a:hover {
  color: #000000;
  font-size: 150%;
  transition: font-size 2s;
}

article a:nth-child(odd) {
  line-height: 2em;
}
